<tr>
  <td><%= transport.name %></td>
  <td><%= transport.email %></td>
  <td><%= transport.contact_number %></td>
  <td><%= link_to "Edit", edit_transport_path(Transport.find(transport.id)),:class => 'btn btn-primary'%></td>
  <td><%= link_to "Delete", transport, method: :delete,
                                  data: { confirm: "You sure?" },:class => 'btn btn-primary' %></td>
</tr>