<% provide(:title, "Edit user") %>
<h1><%= t('views.update_your_account') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
      <%= f.input :username %>

      <%= f.input :password, required: true %>

      <%= f.input :password_confirmation, required: true%>

      <%= f.submit t('views.update_account'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>