<% provide(:title, 'Create New Account') %>
<h1><%= t('views.create_new_account') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
      <%= f.input :username %>

      <%= f.input :password %>

      <%= f.input :password_confirmation, required: true%>

      <%= f.submit t('views.create_account'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>