<li>
  <p>Passenger Name: <%= transit.passenger_name %></p>
  <p>Departure Date: <%= transit.date_departure %></p>
  <p>Arrival Date: <%= transit.date_arrival %></p>
  <p>Sector: <%= transit.sector %></p>
  <p>Flight Number: <%= transit.flight_no %></p>
  <p>Terminal: <%= transit.terminal %></p>
  <%= link_to "Edit", edit_transit_path(Transit.find(transit.id)),:class => 'btn btn-primary'%>
  <%= link_to "Delete", transit, method: :delete,
                                  data: { confirm: "You sure?" },:class => 'btn btn-primary' %>
</li>