<% provide(:title, @transit.passenger_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>Passenger Name: <%= transit.passenger_name %></p>
  		<p>Departure Date: <%= transit.date_departure %></p>
  		<p>Arrival Date: <%= transit.date_arrival %></p>
  		<p>Sector: <%= transit.sector %></p>
  		<p>Flight Number: <%= transit.flight_no %></p>
  		<p>Terminal: <%= transit.terminal %></p>
    </section>
  </aside>
</div>