<% provide(:title, @transit.id) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <p>Date: <%= @transit.date %></p>
  <p>Time: <%= @transit.time %></p>
  <p>Flight Number: <%= @transit.flight_no %></p>
  <p>Food: <%= @transit.food.to_s %></p>
  <p>Transportation: <%= @transit.transportation.to_s %></p>
  <p>Accommodation: <%= @transit.accommodation.to_s %></p>
  <p>Transit Status: <%= @transit.status.to_s %></p>
    </section>
  </aside>
</div>