<% provide(:title, 'Edit Meeting Minute Record') %>
<h1>Edit Meeting Minute Record</h1>

<div class="row">
  <div class="span12 offset0">
    <%= simple_form_for (@minute) do |f| %>
	<%= render 'shared/minute_error' %>
      <%= f.input :name %>

      <%= f.input :date %>

      <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} } %>

      <%= f.submit 'Save changes', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>