<% provide(:title, 'All Meeting Minute Records') %>
<h1><%= t('views.all_meeting_minute_records') %></h1>
<p><%= link_to t('views.add_meeting_minute_record'), new_minute_path ,:class => 'btn btn-primary'%></p>

<%= will_paginate %>
<ul class="minutes">
    <%= render @minutes %>
</ul>

<%= will_paginate %>