<% provide(:title, 'Expense Records') %>
<h1>Expense Records</h1>
<p><%= link_to "Add Records", new_expense_path ,:class => 'btn btn-primary'%></p>

<%= will_paginate %>
<ul class="expenses">
    <%= render @expenses %>
    <li>Balance : <%= Fund.where(:id => params[:where_action]).sum(:amount) -Expense.where(:fund_id => params[:where_action]).sum(:amount) %></li>
    <li>Total Expenses: <%= Expense.where(:fund_id => params[:where_action]).sum(:amount) %></li>
    <li>Total Fund : <%= Fund.where(:id => params[:where_action]).sum(:amount) %></li>
</ul>

<%= will_paginate %>