<% provide(:title, 'Edit Fund Record') %>
<h1>Edit Fund Record</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for (@fund) do |f| %>
  <%= render 'shared/fund_error' %>
      <%= f.input :type , label: 'Fund Type' %>

      <%= f.input :amount , label: 'Fund Amount'  %>

      <%= f.submit 'Save changes', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>