<% provide(:title, 'Create New Fund') %>
<h1>Create New Fund</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for (@fund) do |f| %>
	<%= render 'shared/fund_error' %>
      <%= f.input :type, label: 'Fund Type' %>

      <%= f.input :amount, label: 'Fund Amount' %>

      <%= f.submit 'Create Record', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>